<p id="notice"><%= notice %></p>

<h1 class="mt-3"><%= @book.title %></h1>
<div class="album mt-4 p-3 bg-white">
  <div class="row">
    <div class="col-lg-3">
      <% if @book.image.attached? %>
        <%= image_tag(@book.image.variant(resize: "400x400"), class: "book-cover border") %>
      <% else %>
        <div class="book-cover-ph">
          <%= content_tag(:span, "No cover page yet") %>
        </div>
      <% end %>
    </div>
    <div class="col-lg-9">
      <ul class="list-group list-group-flush">
        <% unless @book.description.empty? %>
          <li class="list-group-item px-0">
            <p><strong>Описание</strong></p>
            <p><%= @book.description %></p>
          </li>
        <% end %>
        <li class="list-group-item px-0">
          <strong class="mr-2">Автор:</strong>
          <%= @authors.empty? ? "Автор неизвестен" : @authors.collect { |a| a.name }.join(', ') %>
        </li>
        <li class="list-group-item px-0">
          <strong class="mr-2">Дата публикации:</strong>
          <%= @book.published_at.strftime('%d.%m.%Y') %>
        </li>
      </ul>
    </div>
  </div>
</div>

