<p id="notice"><%= notice %></p>

<h1 class="mt-5"><%= @category.title %></h1>
<div class="album py-5 bg-white">
  <div class="row">
    <% @books.each do |book| %>
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card mb-4 shadow-sm">
          <%= book.image.attached? ? image_tag(book.image.variant(resize: "400x400"), class: "book-cover") : content_tag(:span, "No cover page yet") %>
          <div class="card-body">
            <h5 class="card-title mb-0"><%= book.title %></h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <span class="small text-muted"><strong>Автор:</strong>
                <%= book.authors.collect { |a| a.name }.join(', ').html_safe %>
              </small>
            </li>
            <li class="list-group-item">
              <span class="small text-muted"><strong>Дата публикации:</strong>
                <%= book.published_at.strftime('%d.%m.%Y') %>
              </small>
            </li>
          </ul>
        </div>
      </div>
    <% end %>
  </div>
</div>

